/* ---------------------------- *\
    
    $Variables

\* ---------------------------- */

$fontSize           = 16
$lineHeight         = 22
$darkGrey           = #333
$lightGrey          = #666
$basetransition     = 250ms linear
$pseudotransition   = 250ms ease-in-out
$wrapperSize        = unit(1200/16, 'rem')