/* ---------------------------- *\
    
    $Components

\*----------------------------- */

// define default values (best to put this in the default.styl file)  
$fontsize = 16
//$lineheight = 24
 
// Mixins
// It compares the given value to the base values and calculates the correct output
font-size($fontValue = $fontsize, $baseFontValue = $fontsize)
    font-size   $fontValue px
    font-size   ($fontValue / $baseFontValue) rem

// Placeholder color
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

centerObject($horizontal = true, $vertical = true)
    if $horizontal and $vertical
        top 50%
        left 50%
        position absolute
        transform translate(-50%, -50%)
    else if $horizontal
        left 50%
        position absolute
        transform translateX(-50%)
    else if $vertical
        top 50%
        position absolute
        transform translateY(-50%)

// End of mixins

// Variables

darkgrey = #333
midgrey = #666

basetransition = 250ms linear
pseudotransition = 250ms ease-in-out

*,
*:before,
*:after
    box-sizing border-box
  
html
    font-size(16)

html,
button,
input,
select,
textarea
    color darkgrey

body
    line-height 1.4

::-moz-selection
    background darkgrey
    color white
    text-shadow none

::selection
    background darkgrey
    color white
    text-shadow none

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

img
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

.chromeframe
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0


/* ---------------------------- *\
    
    $Author's custom $Styles

\*----------------------------- */

body
    font-weight 300
 
/* Declarating general styles for p and h$ */

p
    font-size(18)
h1, h2, h3, h4, h5, h6, p
    margin-top 0
h1, .alpha
    font-size(27)
h2, .beta
    font-size(24)
h3, .gamma
    font-size(21)
h4, .delta
    font-size(18)
h5, .epsilon
    font-size(15)
h6, .zeta
    font-size(12)
strong
    font-weight 700

.wrapper
    width 100%
    margin 0 auto
    max-width 1280px
    position relative
      
.half
    width 50%

.left
    float left

.right
    float right

.flex
    display flex
    flex-wrap wrap

.nondisplayed
    display none
    
.hidden
    visibility hidden

.clearfix
    clearfix()