:root
    +above(1200)
        /* $min-width: $1200px */
        --v-space rem(64)
        --h-space rem(64)
    +between(768,1199)
        /* $min-width: $768px / $max-width: $1199px */
        --v-space rem(30)
        --h-space rem(45)
    +below(767)
        /* $max-width: $767px */
        --v-space rem(16)
        --h-space rem(16)