/* ---------------------------- *\
    
    $Mixins

\* ---------------------------- */

// $Font-size
fontSize($fontValue = $fontSize, $baseFontValue = $fontSize)
    font-size   $fontValue px
    font-size   ($fontValue / $baseFontValue) rem

fontSizeLine($fontValue = $fontSize, $lineHeight = $fontValue)
    fontSize($fontValue)
    line-height $lineHeight px

// Fonts mixin
font-url(file)
    return 'assets/fonts/' + file

webfont(family, file, weight = normal, style = normal)
    @font-face
        font-family family
        src url(font-url(file + '.woff2')) format('woff2'),
            url(font-url(file + '.woff')) format('woff')
        font-display swap
        font-weight weight
        font-style style

// $Center Object function.
centerObject($horizontal = true, $vertical = true)
    if $horizontal and $vertical
        top 50%
        left 50%
        position absolute
        transform translate(-50%, -50%)
    else if $horizontal
        left 50%
        position absolute
        transform translateX(-50%)
    else if $vertical
        top 50%
        position absolute
        transform translateY(-50%)

centerFlexbox($both = true, $vertical = true)
    display flex
    if $both
        align-items center
        justify-content center
    else if $both == false and $vertical
        flex-direction column
        justify-content center

// Placeholder color
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

// $Media $Queries
above($value, $width = true)
    $value = unit($value/16, em)
    if $width == true
        media = '(min-width: %s)' % $value
    else
        media = '(min-height: %s)' % $value
    @media media
        {block}
        
below($value, $width = true)
    $value = unit($value/16, em)
    if $width == true
        media = '(max-width: %s)' % $value
    else
        media = '(max-height: %s)' % $value
    @media media
        {block}

between($minValue, $maxValue, $width = true)
    $minValue = unit($minValue/16, em)
    $maxValue = unit($maxValue/16, em)
    if $width == true
        from = '(min-width: %s)' % $minValue
        to = '(max-width: %s)' % $maxValue
        media = from + ' and ' + to
    else
        from = '(min-height: %s)' % $minValue
        to = '(max-height: %s)' % $maxValue
        media = from + ' and ' + to
    @media media
        {block}