/* ---------------------------- *\

    $Grid

\* ----------------------------- */

.grid--full
    .grid__item
        width 100%

.grid__item
    position relative

/* ---------------------------- *\

    $Media $Queries

\* ----------------------------- */

+above(768)
    /* $min-width: $768px */
    
    .grid
        &__item
            margin-bottom 20px

+below(767)
    /* $max-width: $767px */
    
    .grid
        &__item
            margin-bottom 2em
            &.half, &.third, &.fourth, &.fifth
                width 100%
            &:last-child
                margin-bottom 0